/*reset*/
body,a,p,h1,h2,h3,h4,h5,ul,li,span,strong {
	margin: 0;
	padding: 0;
}

/*=======================================================*/
/*Basic style*/
a{
	text-decoration: none;
	color: #3355aa;
}
a:hover{
	text-decoration: underline;
	color: #3355aa;
}
.clearfix {
	clear: both;
}
body {
	font-family: Georgia;
}
h2 {
	font-size: 18px;
}

/*=======================================================*/
/*page wraper*/
#wraper{
	margin: 10px auto;
}

/*=======================================================*/
/*header section*/
#header ul{
	list-style: none;
}
#header ul li {
	float: left;
}

#header .topHeader {
	width: 960px;
	margin: 0 auto;
}
	/*inside header property for topHeader only*/
	.topHeader .logo {
		float: left;
		margin-left: 10px;
		margin-bottom: 15px;
	}
	.topHeader .userNav {
		float: right;
	}
	.nav li {
		padding: 0 10px;
	}
	.nav li:first-child {
		border-right: 1px solid #3355aa;
	}
	.nav a {
		color: #3355aa;
	}
	/*inside header property for baseHeader only*/
	.baseHeader {
		background-color: #3355aa;
		width: 100%
	}
		#navigation {
			width: 960px;
			margin: 0 auto;
		}
		#navigation li {
			padding:10px 20px 10px 10px;
		}
		#navigation li a{
			color: #FFF;
			font-style: italic;
			text-shadow:1px 1px 2px #000;
		}

/*=======================================================*/
/*page content*/
#content {
	width: 960px;
	margin: 40px auto;

}
	#slider {
		box-shadow: 0 0 5px #666;
		border-radius: 5px;
		width: 420px;
		height: 350px;
		float: left;
	}
	#slider img {
		padding: 10px;
	}
	.testimonials {
		margin-left: 40px;
		float: left;
		width: 500px;
	}
	.testimonials h2 {
		color: #666;
		text-transform: uppercase;
		padding: 20px 0 10px 0;
		border-bottom: 3px solid #eebe00;
	}
	h2.activeHeading {
		
		color: #3355aa;
	}
	.testimonials p {
		margin-top: 15px;
		font-size: 13px;
	}

	.testimonials .whatWeDo {
		width: 46%;
		float: left;
	}
	.testimonials .whatWeDo p {
		color: #7a7a7a;
	}
	.testimonials .readMore{
		font-style: italic;
		font-size: 12px;
		font-weight: bold;
		margin-top: 100px;
	}
	.testimonials .announcements {
		margin-left: 30px;
		width: 45%;
		float: left;
	}
	.announcements h2 {
		margin-bottom: 15px;
	}
	.announcements p {
		color: #414040;
	}
	p.titleReadMore {
		font-style: italic;
		font-size: 11px;
		font-weight: bold;
	}
	p.middle {
		padding: 10px 0;
		border-top: 1px dotted #CCC;
		border-bottom: 2px dotted #CCC;
	}
	p.last {
		margin-bottom: 25px;
	}
	p.titleReadMore span.publisher {
		display: block;
		color: #666;
		font-style: normal;
		font-size: 10px;
	}
	p.titleReadMore span.publisher strong {
		color: #000;
		font-weight: bold;
	}