/*reset*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/*=======================================================*/
/*Basic style*/

/*=======================================================*/
/*page wraper*/


/*=======================================================*/
/*header section*/
#header {
	width: 940px;
	margin: 0 auto;
}

	/*inside header property for topHeader only*/
	.topHeader a.logo {
		background: url('../images/logo.jpg') no-repeat;
		display: block;
		width: 240px;
		height: 60px;
	}

	/*inside header property for baseHeader only*/

/*=======================================================*/
/*page content*/

/*separate*/

	/*slider, what we do and announcements are wrapped inside class fold starts*/

	/*fold ends*/

	/*sectors we work starts*/

	/*workSector ends*/

	/*weWork start*/

/*=======================================================*/
/*page content end*/

/*=======================================================*/
/*Footer starts*/

	/*=======================================================*/