/*Rest*/
body,img,#header,#footer,#nav,a,p,h1,h2,h3,h4,h5,h6,ul,li {
  padding:0;
  margin:0;
}
ul {
  list-style: none;
}

/* basic style*/
a {
  text-decoration: none;
  color: #388ed0;
}
a:hover,a.active {
  text-decoration: underline;
}

/*Page wraper */
#wraper {
  width: 960px;
  margin: 0 auto;
  border: 1px solid #000;
}

/*Header section*/
#header {
}
#header h1{
  text-align: center;
}

/*Navigation section*/
#header ul#nav {
  height: 30px;
  background-color: #388ed0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
#header ul#nav li{
  display: inline-block;
  padding: 0 10px;
}
#header ul#nav li:hover,li.active {
  background-color:  #1f63d5;
}
#header ul#nav li a{
  line-height: 30px;
  color: #FFF;
}

/*Main content section*/
#content {

}

/*left content section*/
#aside {
  display: inline-block;
  float: left;
  width: 280px;
  padding: 10px;
  text-align: justify;
}
#aside h2 {
  text-align: center;
}

/*right content section*/
#article {
  display: inline-block;
  width: 620px;
  padding: 10px;
  border-left: 1px solid #000;
}
#article p {
  text-align: justify;
  text-indent: 50px;
}
#article img {
  float: left;
  padding: 10px;
}
#article .comment_form {
  display: inline-block;
  width: 635px;
  min-height: 350px;
}

/*footer section*/
#footer {
  clear: both;
  display: block;
  border-top: 1px solid #000;
}
#footer .copyright {
  margin-top: 20px;
  float: left;
}
#footer .copyright span.copy {
  padding: 10px;
}
#footer ul#footer_nav {
  margin-left: 600px;
  display: inline-block;
}
#footer ul#footer_nav li {
  float: right;
  padding: 0 10px;
}

/*Comment form*/
.comment_form {
  width: 550px;
  padding: 50px;
}
.lab {
  margin-left: 25px;
}