html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}


@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto-bold-webfont.eot');
    src: url('../font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-bold-webfont.woff') format('woff'),
         url('../font/roboto-bold-webfont.ttf') format('truetype'),
         url('../font/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*clearFix*/
.clearFix {
	clear: both;
}
/*basic properties*/
html {
	font-family: arial;
	background: #f3f3f3;
}
a {
	text-decoration: none;
	color: #666666;
}
a:hover {
	color: #444444;
	text-shadow:1px 1px 1px #CCC;
}
h5 {
    font-size: 11px;
    color: #666666;
}
    /*block with border radius n ol find out is it common for education aor job history*/
.blockSummary {
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 5px #d9d9d9;
    width: 292px;
}
/*last block poperty reset like margin right n ol*/
.lastBlock {
}
/*ratting stars using css*/
ul.ratting {
	float: right;
}
ul.ratting li {
    display: inline-block;
    height: 15px;
    width: 15px;
 }
ul.ratting li.active {
	background: url('../images/sprite.png') -90px -84px  no-repeat;
}
ul.ratting li {
    background: url('../images/sprite.png') -60px -84px  no-repeat
}
/*ratting ends*/
/*header styling*/
#headerWrapper {
	background: #FFF;
	box-shadow: 0 2px 5px #bbb7b7;
    -moz-box-shadow: 0 2px 5px #bbb7b7;
    margin-bottom: 30px;
}
	.header {
		width: 960px;
		margin: 0 auto;
	}
	.header a.logo {
		margin-top: 10px;
		text-indent: -9999px;
		background: url('../images/logo.png') no-repeat;
		width: 138px;
		height: 40px;
		display: inline-block;
		margin-right: 80px;
		margin-left: 12px;
	}
	#navWrapper {
		float: right;
		margin-right: 8px;
	}
		#navWrapper ul {
			float: right;
		}
		#navWrapper ul li {
			float: left;
			font-size: 12px;
		}
		#navWrapper ul.topNav {
			margin: 8px 0;
		}
		#navWrapper ul.topNav li {
			border-right: 1px solid #aaaaaa;
			margin-right: 9px;
			padding-right: 9px;
		}
		#navWrapper ul.topNav li.last {
			margin: 0;
			padding: 0;
			border: none;
		}
		#navWrapper ul.topNav a {
			text-transform: capitalize;
			color: #444;
		}
		#navWrapper ul.topNav a:hover {
			text-shadow:1px 1px 1px #CCC;
		}
		#navWrapper ul.baseNav {
			margin-bottom: 6px;
		}
		#navWrapper ul.baseNav li {
			margin-right: 30px;
		}
		#navWrapper ul.baseNav a i {
			display: block;
			float: left;
			margin-top: 3px;
            		padding-right: 10px;
            		width: 16px;
            		height: 20px;
		}
		ul.baseNav a i.dashboard {
			background: url('../images/sprite.png') 0 0 no-repeat;
		}
		ul.baseNav a i.jobs {
			background: url('../images/sprite.png') -30px 0 no-repeat;
		}
		ul.baseNav a i.translator {
			background: url('../images/sprite.png') -55px -28px no-repeat;
		}
		ul.baseNav a i.language {
			background: url('../images/sprite.png') -90px 0 no-repeat;
		}
		ul.baseNav a i.teams {
			background: url('../images/sprite.png') -120px 0 no-repeat;
		}



		#navWrapper ul.baseNav li.last {
			margin: 0;
		}
		#navWrapper ul.baseNav a {
			text-transform: uppercase;
			color: #666666;
			font-size: 13px;
			font-family: robotobold;
		}
		#navWrapper ul.baseNav a:hover,
		#navWrapper ul.baseNav a.active {
			color: #444444;
		}
/* content start */
#content {
	margin: 0 auto;
	width: 960px;
	border-radius: 5px;
	margin-bottom: 50px;
	background: #fbfbfb;
	border: 1px solid #d5d5d5;
	box-shadow: 0 0 2px #e8e8e8;
}
	/*leftcol start*/
	#content .leftCol {
		width: 680px;
		float:left;
		box-shadow: 2px 0 4px #e0dfdf;
		margin-right: 20px;
	}
		#profile {
			background: #FFF;
			border-radius: 5px 0 0 5px;
	    }
		#profile .userBasicInfo {
	    	background: #444444;
	        border-top-left-radius: 5px;
	        padding: 15px 18px 15px 20px;
	        margin-bottom: 30px;
	    }
	    #profile .userInfo {
	    	float: left;
	    	margin-right: 25px;
	    	position: relative;
	    }
	    #profile #findUser a.profilePic {
	    	display: block;
	    	margin-bottom: 10px;
	    }
	    #findUser a.profilePic img {
	    	border: 5px solid #2f2f2f;
	    	width: 105px;
	    	height: 100px;
	    	border-radius: 100px;
	    }
	    #findUser a.profilePic:hover > img {
	    	box-shadow: 0 0 5px #666;
	    }
	    #profile #findUser .social a{
	    	color: #FFF;
	    	position: absolute;
			height: 16px;
			width: 16px;
			text-indent: -10000px;
			display: block;
			transition:all .4s;   	
	    }
	    #findUser .social a.twitter {
	     	background: url('../images/twitter.png') no-repeat;
	     	top: 60px;
			left: 104px;
	    }
	    #findUser .social a.twitter:hover {
	    	top: 58px;
	    }
	    #findUser .social a.facebook {
	        background: url('../images/facebook.png') no-repeat;
	        top: 80px;
			left: 92px;
	    }
	    #findUser .social a.facebook:hover {
	    	top: 78px;
	    }
	    #findUser .social a.linkedin {
	        background: url('../images/linkedin.png') no-repeat;
	        top: 93px;
			left: 75px;
	    }
	    #findUser .social a.linkedin:hover {
	    	top: 91px;
	    }
	    .userInfo a.userType{
	    	background: url('../images/band.png');
	    	width: 115px;
	    	height: 20px;
	    	display: block;
	    	color: #000;
	    }
  /*
	    .userInfo a.userType i.left {
	    	background: url('../images/sprite.png') -200px 0 no-repeat;
	    	height: 20px;
	    	width: 30px;
	    }
	    .userInfo a.userType i.repeat {
	    	background: url('../images/sprite.png') 0 -200px repeat;
			height: 20px;
			width: 10px;
}*/	    
	    #profile .info {
	    	margin-right: 20px;
	    	float: left;
	    	max-width: 300px;
	    }
	    #profile .info span {
	    	display: block;
	    	font-size: 12px;
	    	color: #bbbbbb;
	    }
	    #profile strong {
	    	color: #FFF;
	    }
	    #profile .info span.name {
	    	font-family: robotobold;
	    	font-size: 24px;
	    	color: #FFF;
	    }
	    #profile .info span.work {
	    	font-size: 14px;
	    	color: #FFF;
	    	font-weight: bold;
	    	line-height: 40px;
	    }
	    #profile .info span.language,
	    #profile .info span.domain,
	    #profile .info span.exp {
	    	line-height: 16px;
	    }
	    #profile .userReview {
	    	float: right;
	    	max-width: 250px;
	    }
	    #profile .userReview span {
	    	display: block;
	    	color: #bbbbbb;
	    }
	    #profile .userReview span.recommended {
	    	font-size: 13px;
	    	margin-bottom: 30px;
	    }
	    #profile .userReview span.recommended strong {
	    	font-size: 18px;
	    }
	    #profile .userReview span.upgrade {
	    	float: right;
	    	margin-bottom: 20px;
	    }
	    #profile .userReview span.upgrade a {
    		background: -webkit-linear-gradient(top, #515151, #383838 50%);
        	background: -moz-linear-gradient(top, #515151, #383838 50%);
    		border-radius: 3px;
    		box-shadow: 0 0 3px #000;
        	color: #FFF;
        	text-align: center;
        	font-size: 14px;
        	padding: 5px 10px; 
	    }
	    #profile .userReview span.upgrade a:hover {
    		background: -webkit-linear-gradient(top, #383838, #515151 50%);
        	background: -moz-linear-gradient(top, #383838, #515151 50%);
        }
	    #profile .userReview span.upgradePrice {
	    	font-size: 12px;
	    	font-family: robotobold;
        	float: right;
        	text-align: right;
        	width: 150px;
	    }


.informationWrapper {
	margin: 0 35px;
}
.informationWrapper h2 {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 24px;
	font-family: robotobold;
	color: #444444;
}

.informationWrapper .address {
        border-bottom: 1px solid #ebebeb;
        float: left;
    }
    .address {
        margin-bottom: 45px;
    }
   .address span {
        color: #666666;
        text-transform: capitalize;
        font-size: 14px;
        float: left;
        width: 300px;
        margin-bottom: 8px;
    }
    .address span.userWebsite a{
        color: #dd4422;
        text-transform: none;
        display: block;
    }
    .address span:first-child {
        width: 100%;
    }
    /*placing images for address*/
    .address i {
		float: left;
        margin-right: 10px;
        width: 20px;
        height: 25px;
	}
    .homeAddress i{
    	background: url('../images/sprite.png') 0 -52px no-repeat;
    }
    .mobile i{
    	background: url('../images/sprite.png') -30px -52px no-repeat;
    }
    .fax i{
    	background: url('../images/sprite.png') -60px -52px no-repeat;
    }
    .emailid i{
    	background: url('../images/sprite.png') -90px -52px no-repeat;
    }
    .website i{
    	background: url('../images/sprite.png') -120px -52px no-repeat;
    }
/*job history warpper for jobs*/
    #jobHistory {
    	margin-bottom: 40px;
    }	    
   		#jobHistory h2 i {
   			float: left;
        	margin-right: 10px;
        	width: 40px;
        	height: 40px;
   			background: url('../images/sprite.png') 0 -115px no-repeat;
   		}
	    #jobHistory ul.job {
	    	padding-bottom: 12px;
			border-bottom: 1px solid #f0f0f0;
			margin-bottom: 12px;
	    }
	    #jobHistory ul.job li.position {
	    	font-size: 18px;
			line-height: 30px;
			font-weight: bold;
			color: #444444;
	    }
	    #jobHistory ul.job li.jobLocation {
	    	font-size: 14px;
			line-height: 25px;
			color: #444444;
	    }
	    #jobHistory ul.job li.timePeriod {
	    	font-size: 11px;
			color: #aaaaaa;
			line-height: 20px;
			margin-bottom: 8px;
	    }
	    #jobHistory ul.job li.summary {
	    	font-size: 12px;
			color: #888888;
			line-height: 20px;
	    }
    /*job history end*/

    /*education history start*/
    #education {
    	margin-bottom: 25px;
    }
    #education h2 i {
   		float: left;
        margin-right: 10px;
        width: 40px;
        height: 40px;
   		background: url('../images/sprite.png') -45px -115px no-repeat;
   	}
    #education .eduSummary {
    	float: left;
    	margin-right: 20px;
    }
    #education .lastBlock {
    	margin-right: 0;
    }
    #education .eduSummary ul{
    	padding: 15px;
    	color: #444444;
    }
    #education .eduSummary ul li:nth-child(1) {
    	font-size: 18px;
		font-weight: bold;
    }
    #education .eduSummary ul li:nth-child(2) {
    	font-size: 14px;
		line-height: 25px;
    }
    #education .eduSummary ul li:nth-child(3) {
    	font-size: 11px;
		color: #aaaaaa;
    }
    /*education history end*/

    /*user reviews start*/
    #reviews {
    	margin-bottom: 15px;
    }
    #reviews .head {
    	border-bottom: 1px solid #ebebeb;
    	margin-bottom: 15px;
    }
    #reviews .head h2 {
    	float: left;
    	border-bottom: none;
    	padding-bottom: 0;
    }
    #reviews .head .pager {
    	float: right;
    	padding-top: 18px;
    }
    #reviews .head .pager a {
    	display: block;
    	float: left;
    	text-indent: -9999px;
    	width: 20px;
		margin-right: 10px;
    }
    .head .pager a.prevPage {
        background: url('../images/leftArrow.png') no-repeat;
    }
    #reviews .head a.nextPage {
        background: url('../images/rightArrow.png') no-repeat;
    }
    #reviews .userReviews{

    }
    .usersReviews .review {
		float: left;
		margin-bottom: 18px;
		margin-right: 20px;
    }
    .usersReviews .lastBlock {
    	margin-right: 0;
    }
    #reviews .review .user {
    	margin-bottom: 2px;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 8px;
		margin: 8px 5px 0 8px;
    }
    #reviews a.reviewerPic {
		float: left;
		margin-right: 8px;
    }
    #reviews a.reviewerPic img {
    	border: 1px solid #c0c0c0;
		border-radius: 60px;
		height: 59px;
		width: 59px;
    }
    #reviews .user .names{
    	float: left;
    	margin-right: 5px;
    }
    #reviews .user .infoWrap {
    	padding-top: 15px;
    }
    	.infoWrap a.name {
    		font-size: 16px;
			color: #222222;
    	}
    	.infoWrap a.positionComp {
	    	display: block;
    		font-size: 12px;
    		color: #666666;
    	}
    .review .userReviewComment {
    	padding-bottom: 8px;
		margin: 8px 5px 0 8px;
    }
    .review .userReviewComment h3 {
    	font-size: 14px;
		color: #444444;
    }
    .review .userReviewComment span {
    	color: #888888;
		font-size: 12px;
		float: none;
    }
    .userReviewComment span a{
        color: #dd4422;
		font-size: 11px;	
    }



	/*leftCol end*/
	#content .rightCol {
		width: 232px;
		float:left;
		.padding: 0 30px 0 18px;
	}

	.headMessage {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.headMessage h2 {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: -1px;
        color: #dd4422;
        float: left;
        line-height: 50px;
    }
    .headMessage h2 i {
    	width: 40px;
        height: 40px;
        float: left;
        background: url('../images/sprite.png') -95px -107px no-repeat
    }
    .headMessage h5.newMsg {
        line-height: 38px;
        float: right;
        background: none;
        text-transform: uppercase;
        font-size: 
    }
    .headMessage h5 em {
        margin-left: 5px;
        color: #FFF;
        padding: 4px 8px;
        border-radius: 20px;
        background: #dd4422;
    }
    #inbox h5.day {
    	text-transform: uppercase;
		padding: 2px 2px 1px 3px;
		background: #e5e5e5;
		border-radius: 2px;
		margin-bottom: 10px;
		display: inline-block;
    }
    #inbox h5.day:hover {
    	cursor:default;
    }
    #inbox i.line {
    	background: url('../images/msgSeprator.png') no-repeat;
        opacity: 0.15;
        height: 10px;
        width: 200px;
        display: block;
        margin-left: -20px;
    }
    #inbox ul {
    	margin-bottom: 30px;
    }
    #inbox ul li {
    	margin-bottom: 15px;
		border-bottom: 1px solid #ebebeb;
    }
    #inbox a.user {
        height: 34px;
        line-height: 34px;
        color: #222222;
    }
    #inbox a.user:hover >img {
    	box-shadow: 0 0 5px #444;
    }
    #inbox a.user img.userPic {
        width: 34px;
        height: 34px;
        float: left;
        margin-right: 10px;
        border-radius: 45px;    	
    }
    #inbox .msg {
    	margin-bottom: 10px;
    }
    #inbox .msg a{
		font-size: 12px;
		color: #666666;
    }
    #inbox .msg a:hover {
    	color: #222222;
    }
    #inbox .timeAgo {    	
		font-size: 11px;
		color: #aaaaaa;
		margin-bottom: 5px;	
    }

/*===========================================================*/
    /*footer css*/
    #footer {
        font-size: 12px;
        background: #353535;
        color: #888888;
        min-height: 120px;
    }
    #footer .footerWrapper {
        width: 960px;
        margin: 0 auto;
        text-align: center;
    }
    .footerWrapper ul.footerNav {
        line-height: 40px;
    }
    .footerWrapper ul.footerNav li {
        display: inline-block;
        margin-right: 7px;
    }
    .footerWrapper ul.footerNav li:after {
        content: "|";
    }
    .footerWrapper ul.footerNav li a {
        margin-right: 7px;
        color: #d9d9d9;
    }    
    .footerWrapper ul.footerNav li:last-child,
    .footerWrapper ul.footerNav li:last-child:after,
    .footerWrapper ul.footerNav li:last-child:after a{
        content: none;
        margin-right: 0;
    }
    .footerWrapper span {
        text-align: center;
    }
