.container {
	width: 960px;
}
/*basic style*/
ul li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #027ac6;
	font-weight: bold;
	font-size: 15px;
}
p {
	color: #888888;
	font-size: 13px;
	text-align: justify;
}
h1,h2,h3 {
	word-wrap:break-word;
}
h1 {
	font-size: 48px;
	font-family: georgia;
	font-weight: normal;
	color: #ffffff;
	text-align: center;
	margin-top: 55px;
	margin-bottom: 40px;
	line-height: 50px;
	text-shadow: 1px 1px #000000;
}
h2 {
	color: #333333;
	font-weight: normal;
	font-size: 38px;
	font-family: Georgia;
	text-align: center;
	margin-bottom: 20px;
}
h2.color {
	color: #666666;
	text-shadow:1px 1px #ffffff;
}
h3 {
	font-size: 18px;
	color: #FFF;
	line-height: 24px;
	text-shadow: 1px 1px #000000;
}

/*headerstyle*/
a.logo{
	width: 90px;
	display: block;
	background: url('../images/logo.png') no-repeat;
	text-indent: -9999px;
	margin-top: 14px;
	margin-left: 20px;
	margin-bottom: 10px;
}
ul.nav {
	float: right;
	margin: 15px 0;
}
ul.nav li {
	float: left;
	margin-left: 25px;
}
ul.nav li.clear {
	float: none;
	margin: 0;
}
ul.nav li a:hover,
ul.nav li a.active {
	background: #FFF;
	color: #333333;
}

/*banner block*/
.span960 {
	width: 960px;
}
.rowMarginBottom {
	margin-bottom: 35px;
}
.seprator {
	border-bottom: 1px solid #bbbbbb;
	box-shadow: 0 6px 6px -6px #bbbbbb;
}
.banner {
	background: url('../images/captionBg.jpg') repeat-x;
	height: 521px;
}
ul.block {
	text-align: center;
	float: left;
	margin-top: 20px;
	margin-left: 0;
}
ul.block li{
	float: left;
	max-width: 190px;
	min-width: 150px;
	margin-left: 30px;
}
ul.block li img {
	margin-bottom: 5px;
}
.span8 p {
	max-width: 600px;
}
.formBlock {
	padding: 30px 20px;
	background: #ffffff;
	margin-right: 20px;
}
.formBlock a {
	color: #4390ce;
	text-decoration: none;
}
.formBlock span {
	color: #333333;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 15px;
	display: block;
}
form {
	margin-bottom: 10px;
}
form input[type=text],
form input[type=password] {
	border-radius: 0;
	width: 95%;
	height: 26px;
	box-shadow: inset 0 1px #f1f1f1;
}
form input[type=password] {
	margin-bottom: 25px;
}
.btn-change {
	padding: 6px;
	font-size: 15px;
	background: -webkit-linear-gradient(top, #515151, #383838 50%);
	background: -moz-linear-gradient(top, #515151, #383838 50%);
	background: -ms-linear-gradient(top, #515151, #383838 50%);
	color: #FFF;
	border-radius: 0;
	border: 1px solid #222222;
}
.btn-change:hover {
	background: -webkit-linear-gradient(top, #383838,#515151 50%);
	background: -moz-linear-gradient(top, #383838,#515151 50%);
	background: -ms-linear-gradient(top, #383838,#515151 50%);
	color: #FFF;
}


ul.features {
	float: left;
	margin: 0;
	margin-left: 18px;
	margin-bottom: 70px;
}
ul.features li {
	max-width: 280px;
	margin-right: 40px;
	float: left;
}
ul.features img {
	border: 1px solid #dddddd;
	margin-bottom: 30px;
}
ul.features a {
	font-size: 18px;
	text-decoration: none;
	display: block;
	margin-bottom: 12px;
}
ul.features p{
	color: #666666;
	line-height: 22px;
	text-align: justify;
}

/*testimonials block*/
ul.testimonials {
	float: left;
	margin: 0;
	margin-left: 18px;
}
ul.testimonials li {
	max-width: 280px;
	margin-right: 40px;
	float: left;
	margin-bottom: 40px;
}
ul.testimonials a {
	font-size: 13px;
	text-decoration: none;
	display: block;
	margin-bottom: 15px;
}
ul.testimonials p{
	font-family: Georgia;
	color: #666666;
	font-size: 15px;
	font-style: italic;
	line-height: 22px;
	text-align: justify;
}

.signupBanner {
	background: #eeeeee;
	min-height: 90px;
	text-align: center;
	margin-left: 30px;
}
.signupBanner a.btn-change {
	margin: 20px auto;
	text-decoration: none;
	display: block;
	width: 298px;
	padding: 15px 0;
	font-size: 24px;
}
.marginBottom {
	margin-bottom: 0;
}

ul li.last {
	margin: 0;
}