/*tags reset*/
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/*Basic style*/
body {
	font-family: Arial;
}
a {
	text-decoration: none;
	color: #2255aa;
	font-size: 12px;
	line-height: 18px;
}
a:hover {
	color: #0b3275;
}
.clear {
	clear: both;
}
h3 {
	font-size: 12px;
	color: #2255aa;
	font-weight: bold;
	margin-bottom: 15px;
}
h2 {
	color: #000;
	font-size: 14px;
	line-height: 30px;
	background: #ccddff;
	font-weight: bold;
	padding-left: 10px;
	border-bottom: 1px solid #FFF;
	box-shadow: 0 1px 0 #ccddff;
	margin-bottom: 10px;
}


/*all wrapper*/
.headerWrapper,
#content {
	width: 990px;
	margin: auto;
}

/*header*/
#header {
	background: #d6e4ff;
	margin-bottom: 40px;
	border-bottom: 1px solid #bbccff;
}
	#header a.logo {
		height: 32px;
		width: 134px;
		text-indent: -9999px;
		background: url('../images/sprite.png') 0 0 no-repeat;
		float: left;
		margin: 22px 96px 20px 0;
	}
	#header .loc {
		float: left;
		margin-top: 10px;
	}
	#header .loc ul li {
		float: left;
		margin-right: 15px;
		margin-bottom: 5px;
	}
	#header .loc li.clear {
		float: none;
		margin: 0;
	}
	#header .loc li a {
		font-weight: bold;
		font-size: 14px;
	}
	#header form input[type=text] {
		width: 368px;
		line-height: 26px;
		border: 1px solid #d2d5e9;
		padding-right: 10px;
		font-size: 14px;
		box-shadow: inset 0 1px 0 #f5f5f5;
	}
	#header form input[type=submit] {
		line-height: 26px;
		cursor: pointer;
		width: 88px;
		border: 1px solid #2255aa;
		margin-left: -8px;
		color: #FFF;
		font-size: 14px;
		background: #2255aa linear-gradient(rgba(255,255,255,0.2) 20%, rgba(255,255,255,0.0) 80%);
	}
	#header .user {
		float: right;
		margin-top: 40px;
	}
	#header .user ul {
		float: left;
	}
	#header .user ul li {
		float: left;
	}
	.user ul.userNav li{
		margin-right: 16px;
	}
	.user ul.userNav a {
		font-size: 14px;
		font-weight: bold;
	}
	#header .user li.clear {
		float: none;
		margin: 0;
	}
	.user ul.social li {
		margin-left: 5px;
	}
	.user ul.social a {
		height: 21px;
		width: 20px;
		text-indent: -9999px;
		float: left;
		transition:all .4s;
	}
	.user ul.social a:hover {
		margin-top: -3px;
	}
	.user ul.social a.facebook {
		background: url('../images/sprite.png') -24px -40px no-repeat;
	}
	.user ul.social a.twitter {
		background: url('../images/sprite.png') 0 -40px no-repeat;
	}
/*Header end*/

/*content start*/
#content {
	background: url('../images/bg.png') repeat-y;
}

/*about start (left col)*/
.about {
	width: 210px;
	float: left;
	margin-right: 20px;
}
	.about .logo {
		border-bottom: 1px solid #e5e5ee;
		margin-bottom: 18px;
	}
	.about .logo img {
		width: 118px;
		height: 150px;
		margin: 10px 0 16px 36px;
	}
	.about .dean,
	.about .motto {
		margin-bottom: 12px;
	}
	.about .dean h3 ,
	.about .motto h3 ,
	.about .link h3 {
		color: #000;
		margin-bottom: 0;
	}
	.motto a.readMore {
		color: #959595;	
	}

	.about .link {
		margin-bottom: 20px;
	}
	.aboutSIMS ul {
		margin-bottom: 20px;
	}
	.aboutSIMS ul li {
		margin-bottom: 12px;
	}
	.aboutSIMS ul.moreAbout {
		border-top: 1px solid #e5e5ee;
	}
	.aboutSIMS ul.moreAbout li {
		border-bottom: 1px solid #e5e5ee;
		margin-bottom:0;
	}
	.aboutSIMS ul.moreAbout a {
		line-height: 28px;
		font-weight: bold;
		display: block;
	}
	.aboutSIMS ul.moreAbout a i {
		width: 25px;
		height: 28px;
		background: url('../images/sprite.png') 0 -74px no-repeat;
		float: left;
	}
		/*placing icons strat*/
		ul.moreAbout a.faculty i {
			background: url('../images/sprite.png') 0 -102px no-repeat;
		}
		ul.moreAbout a.infra i {
			background: url('../images/sprite.png') 0 -130px no-repeat;
		}
		ul.moreAbout a.teaching i {
			background: url('../images/sprite.png') 0 -158px no-repeat;
		}
		ul.moreAbout a.student i {
			background: url('../images/sprite.png') 0 -186px no-repeat;
		}
		ul.moreAbout a.location i {
			background: url('../images/sprite.png') 0 -214px no-repeat;
		}
		ul.moreAbout a.curriculum i {
			background: url('../images/sprite.png') 0 -242px no-repeat;
		}
		ul.moreAbout a.global i {
			background: url('../images/sprite.png') 0 -270px no-repeat;
		}
		ul.moreAbout a.corporate i {
			background: url('../images/sprite.png') 0 -298px no-repeat;
		}
		ul.moreAbout a.alumni i {
			background: url('../images/sprite.png') 0 -326px no-repeat;
		}
		ul.moreAbout a.board i {
			background: url('../images/sprite.png') 0 -354px no-repeat;
		}
		ul.moreAbout a.placements i {
			background: url('../images/sprite.png') 0 -382px no-repeat;
		}

		/*placing icon end*/
	.aboutSIMS ul.moreAbout a i.arrow {
		width: 16px;
		height: 28px;
		background: url('../images/sprite.png') -31px -72px no-repeat;
		float: right;
	}
	.aboutSIMS ul.moreAbout a:hover i.arrow {
		background: url('../images/sprite.png') -31px -100px no-repeat;
	}
/*about end (left col)*/

/*activity start (middle col)*/
.activity {
	width: 460px;
	float: left;
	margin-right: 40px;
}
	.activityWrapper {
	}
	.activityWrapper ul li {
		float: left;
		margin-right: 10px;
	}
	.activityWrapper li a.prev {
		border-right: 1px solid #FFF;
		box-shadow: 1px 0 0 #e7e7ef;
		width: 28px;
		display: block;
		line-height: 90px;
		background: #f5f5f5;
	}
	.activityWrapper li a.next {
		border-left: 1px solid #FFF;
		box-shadow: -1px 0 0 #e7e7ef;
		line-height: 90px;
		width: 28px;
		background: #f5f5f5;
		display: block;
	}

	.activityWrapper ul li.last {
		margin: 0;
	}
	.activityWrapper li img {
		border: 1px solid #e5e5ee;
		width: 118px;
		height: 88px;
	}
/*activity end (middle col)*/

/*misc start (right col)*/
.misc {
	width: 260px;
	float: left;
}
	.competing ul {
		margin-bottom: 18px;
	}
	.competing li {
		margin-bottom: 10px;
	}
	.competing li a {
		display: block;
	}
	.competing li a .clear {
		clear: both;
	}
	.competing li a img {
		height: 33px;
		width: 33px;
		float: left;
		border: 1px solid #e5e5ee;
		margin-right: 6px;
	}
/*misc end (right col)*/
