body,table,th,td,h1,p{
	padding: 0;
	margin: 0;
}
h1{
	text-align: center;
	border-bottom: 1px dotted #000;
}
th,td {
	width: 50px;
	padding: 10px;
	margin: 0;
	border: 1px solid #000;
}
table {
	margin: 50px auto;
	border: 10px;
}