html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}


@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto-bold-webfont.eot');
    src: url('../font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-bold-webfont.woff') format('woff'),
         url('../font/roboto-bold-webfont.ttf') format('truetype'),
         url('../font/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*clearFix*/
.clearFix {
	clear: both;
}
/*basic properties*/
html {
	font-family: arial;
	background: #f3f3f3;
}
a {
	text-decoration: none;
	color: #666666;
}
a:hover {
	color: #444444;
}
h5 {
    font-size: 11px;
    color: #666666;
}
    /*block with border radius n ol find out is it common for education aor job history*/
.blockSummary {
    border-radius: 5px;
    box-shadow: 0 0 3px #d9d9d9;
    border: 1px solid #d9d9d9;
}
/*ratting stars using css*/
ul.ratting {
	float: right;
}
ul.ratting li {
    display: inline-block;
    height: 15px;
    width: 15px;
 }
ul.ratting li.active {
	background: url('../images/sprite.png') -60px -60px  no-repeat;
}
ul.ratting li {
    background: url('../images/sprite.png') -40px -60px   no-repeat
}
/*ratting ends*/
#headerWrapper {
	background: #FFF;
	box-shadow: 0 2px 5px #bbb7b7;
    -moz-box-shadow: 0 2px 5px #bbb7b7;
    margin-bottom: 30px;
}
	.header {
		width: 960px;
		margin: 0 auto;
	}
	.header a.logo {
		text-indent: -9999px;
		background: url('../images/logo.png') no-repeat;
		width: 138px;
		height: 40px;
		display: block;
		float: left;
		margin: 10px 10px;
	}
	#navWrapper {
		float: right;
		margin-right: 10px;
	}
		/*
		#navWrapper ul.topNav {
			float: right;
		}
		*/
		#navWrapper ul li {
			float: left;
			font-size: 12px;
		}
		#navWrapper ul li.clearFix {
			float: none;
		}
		#navWrapper ul.topNav {
			margin: 8px 0;
			float: right;
		}
		#navWrapper ul.topNav li {
			border-right: 1px solid #aaaaaa;
			margin-right: 9px;
			padding-right: 9px;
		}
		#navWrapper ul.topNav li.last {
			margin: 0;
			padding: 0;
			border: none;
		}
		#navWrapper ul.topNav a {
			text-transform: capitalize;
			color: #444;
		}
		#navWrapper ul.topNav a:hover {
			text-shadow:1px 1px 1px #CCC;
		}
		#navWrapper ul.mainNav {
			margin-bottom: 6px;
		}
		#navWrapper ul.mainNav li {
			margin-right: 30px;
		}
		#navWrapper ul.mainNav li i {
			float: left;
            width: 18px;
            height: 18px;
            margin-right: 5px;
		}
		ul.mainNav li.dashboard i {
			background: url('../images/sprite.png') 0 0 no-repeat;
		}
		ul.mainNav li.dashboard i.active {
			background: url('../images/sprite.png') 0 -20px no-repeat;
		}
		ul.mainNav li.jobs i {
			background: url('../images/sprite.png') -20px 0 no-repeat;
		}
		ul.mainNav li.jobs i.active {
			background: url('../images/sprite.png') -20px -20px no-repeat;
		}
		ul.mainNav li.translator i {
			background: url('../images/sprite.png') -40px 0 no-repeat;
		}
		ul.mainNav li.translator i.active {
			background: url('../images/sprite.png') -40px -20px no-repeat;
		}
		ul.mainNav li.language i {
			background: url('../images/sprite.png') -60px 0 no-repeat;
		}
		ul.mainNav li.language i.active {
			background: url('../images/sprite.png') -60px -20px no-repeat;
		}
		ul.mainNav li.teams i {
			background: url('../images/sprite.png') -80px 0 no-repeat;
		}
		ul.mainNav li.teams i.active {
			background: url('../images/sprite.png') -80px -20px no-repeat;
		}
		#navWrapper ul.mainNav li.last {
			margin: 0;
		}
		#navWrapper ul.mainNav a {
			text-transform: uppercase;
			color: #666666;
			font-size: 13px;
			font-family: robotobold;
			display: block;
		}
		#navWrapper ul.mainNav a:hover,
		#navWrapper ul.mainNav a.active {
			color: #444444;
		}

/* content start */
#content {
	margin: 0 auto;
	width: 960px;
	border-radius: 5px;
	margin-bottom: 50px;
	background: url('../images/bg.png') repeat-y;
	border: 1px solid #d5d5d5;
	box-shadow: 0 0 2px #e8e8e8;
}
	/*leftcol start*/
	#content .leftCol {
		width: 680px;
		float:left;
		margin-right: 20px;
	}
		.userBasicInfo {
	    	background: #444444;
	        border-top-left-radius: 5px;
	        padding: 15px 18px;
	        margin-bottom: 30px;
	    }
	    .userInfo {
	    	float: left;
	    	margin-right: 25px;
	    	position: relative;
	    }
		    .profilePic {
		    	display: block;
		    	margin-bottom: 10px;
		    	height: 110px;
				width: 110px;
		    }
		    .profilePic img {
		    	border: 5px solid #2f2f2f;
		    	width: 100px;
		    	height: 100px;
		    	border-radius: 55px;
		    }
		    .social a{
		    	color: #FFF;
		    	position: absolute;
				height: 16px;
				width: 16px;
				text-indent: -10000px;
				display: block;
				transition:all .4s;   	
		    }
		    .social a.twitter {
		     	background: url('../images/sprite.png') -40px -160px  no-repeat;
		     	top: 60px;
				left: 100px;
		    }
		    .social a.twitter:hover {
		    	top: 58px;
		    }
		    .social a.facebook {
		        background: url('../images/sprite.png') -20px -160px  no-repeat;
		        top: 78px;
				left: 90px;
		    }
		    .social a.facebook:hover {
		    	top: 76px;
		    }
		    .social a.linkedin {
		        background: url('../images/sprite.png') 0 -160px  no-repeat;
		        top: 91px;
				left: 74px;
		    }
		    .social a.linkedin:hover {
		    	top: 89px;
		    }
		    .userInfo .userType  {
		    	max-width: 128px;
		    }
		    .userInfo .userType span {
		    	background: url('../images/sprite.png') 0 -180px no-repeat;
		    	height: 20px;
		    	color: #000;
		    	text-shadow: 0 1px 1px rgba(0,0,0,.4);
		    	font-size: 12px;
		    	line-height: 20px;
		    	padding-left: 5px;
		    	float: left;
		    	border-left: 1px solid #d35b17;
		    	max-width: 90px;
		    }
		    .userInfo .userType i {
		    	float: left;
		    	height: 20px;
		    	width: 17px;
		    	background: url('../images/sprite.png') 0 -220px no-repeat;
		    }



	    .info {
	    	margin-right: 10px;
	    	float: left;
	    	max-width: 245px;
	    	text-shadow: 0 0 1px rgba(0,0,0,.6);
	    }
		    .info span {
		    	display: block;
		    	font-size: 12px;
		    	color: #bbbbbb;
		    }
		    strong {
		    	color: #FFF;
		    }
		    .info span.name {
		    	font-family: robotobold;
		    	font-size: 24px;
		    	color: #FFF;
		    }
		    .info span.work {
		    	font-size: 14px;
		    	color: #FFF;
		    	font-weight: bold;
		    	line-height: 40px;
		    }
		    .info span.language,
		    .info span.domain,
		    .info span.exp {
		    	line-height: 16px;
		    }
	    .userReview {
	    	float: right;
	    	max-width: 245px;
	    }
		    .userReview span {
		    	color: #bbbbbb;
		    }
		    .userReview span.recommended {
		    	font-size: 13px;
		    	margin-bottom: 30px;
		    	float: right;
		    }
		    .userReview span.recommended strong {
		    	font-size: 18px;
		    }
		    .userReview a.upgrade {
		    	float: right;
		    	margin-bottom: 20px;
		    	background: -webkit-linear-gradient(top, #515151, #383838 50%);
	        	background: -moz-linear-gradient(top, #515151, #383838 50%);
	        	background: -ms-linear-gradient(top, #515151, #383838 50%);
	    		border-radius: 3px;
	    		box-shadow: 0 0 3px #000;
	        	color: #FFF;
	        	text-align: center;
	        	font-size: 14px;
	        	padding: 5px 15px; 
		    }
		    .userReview a.upgrade:hover {
	    		background: -webkit-linear-gradient(top, #383838, #515151 50%);
	        	background: -moz-linear-gradient(top, #383838, #515151 50%);
	        	background: -ms-linear-gradient(top, #383838, #515151 50%);
	        }
		    .userReview span.upgradePrice {
		    	font-size: 12px;
		    	font-family: robotobold;
	        	float: right;
	        	text-align: right;
	        	width: 150px;
		    }
.informationWrapper {
	margin: 0 35px;
}
.informationWrapper h2 {
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 12px;
	margin-bottom: 14px;
	font-size: 24px;
	font-family: robotobold;
	color: #444444;
	line-height: 35px;
}
	.informationWrapper .address {
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 34px;
		padding-bottom: 24px;
    }
    .address div {
        color: #666666;
        text-transform: capitalize;
        font-size: 14px;
        width: 300px;
        margin-bottom: 8px;
        float: left;
        margin-right: 10px;
    }
    .address .marginRight {
    	margin-right: 0;
    }
    .address .clearFix {
    	float: none;
    	margin: 0;
    	padding: 0
    }
    .address .userWebsite a{
        color: #dd4422;
        text-transform: none;
        display: block;
    }
    .address .homeAddress {
        width: 100%;
    }
    /*placing images for address*/
    .address i {
		float: left;
        margin-right: 10px;
        width: 20px;
        height: 15px;
	}
    .homeAddress i{
    	background: url('../images/sprite.png') 0 -42px no-repeat;
    }
    .mobile i{
    	background: url('../images/sprite.png') -20px -42px no-repeat;
    }
    .fax i{
    	background: url('../images/sprite.png') -40px -42px no-repeat;
    }
    .emailid i{
    	background: url('../images/sprite.png') -60px -42px no-repeat;
    }
    .website i{
    	background: url('../images/sprite.png') -80px -42px no-repeat;
    }
/*job history warpper for jobs*/
    #jobHistory {
    	margin-bottom: 30px;
    }	    
   		#jobHistory h2 i {
   			float: left;
        	margin-right: 10px;
        	width: 40px;
        	height: 28px;
   			background: url('../images/sprite.png') 0 -80px no-repeat;
   		}
	    #jobHistory ul.job li {
	    	padding-bottom: 12px;
			border-bottom: 1px solid #f0f0f0;
			margin-bottom: 12px;
	    }
	    #jobHistory ul.job div.position {
	    	font-size: 18px;
			line-height: 30px;
			font-weight: bold;
			color: #444444;
	    }
	    #jobHistory ul.job div.jobLocation {
	    	font-size: 14px;
			line-height: 25px;
			color: #444444;
	    }
	    #jobHistory ul.job div.timePeriod {
	    	font-size: 11px;
			color: #aaaaaa;
			line-height: 20px;
			margin-bottom: 8px;
	    }
	    #jobHistory ul.job div.summary {
	    	font-size: 12px;
			color: #888888;
			line-height: 20px;
	    }
    /*job history end*/
    /*education history start*/
    /*#education {
    	margin-bottom: 25px;
    }*/
    #education h2 i {
   		float: left;
        margin-right: 10px;
        width: 40px;
        height: 28px;
   		background: url('../images/sprite.png') -40px -80px no-repeat;
   	}
   	#education li {
    	float: left; 
    }
    #education li.clearFix {
    	float: none;
    }
    #education li .eduSummary {
    	margin-right: 20px;
    	width: 262px;
    }
    #education li .lastBlock {
    	margin-right: 0;
    }
    #education li .eduSummary{
    	padding: 15px;
    	color: #444444;
    	margin-bottom: 20px;
    }
    #education li .eduSummary span {
    	display: block;
    }
    #education li .eduSummary span:nth-child(1) {
    	font-size: 18px;
		font-weight: bold;
		text-transform: capitalize;
    }
    #education li .eduSummary span:nth-child(2) {
    	font-size: 14px;
		line-height: 25px;
    }
    #education li .eduSummary span:nth-child(3) {
    	font-size: 11px;
		color: #aaaaaa;
    }
    /*education history end*/

     /*user reviews start*/
    #reviews {
    	margin-bottom: 15px;
    }
    #reviews .head {
    	border-bottom: 1px solid #ebebeb;
    	margin-bottom: 15px;
    }
    #reviews .head h2 {
    	float: left;
    	border-bottom: none;
    	padding-bottom: 0;
    }
    #reviews .head .pager {
    	float: right;
    	margin-top: 18px;
    }
    #reviews .head .pager a {
    	display: block;
    	float: left;
    	text-indent: -9999px;
    	width: 11px;
		margin-right: 10px;
    }
    .head .pager a.prevPage {
        background: url('../images/sprite.png') 0 -60px no-repeat;
    }
    #reviews .head a.nextPage {
        background: url('../images/sprite.png') -20px -60px no-repeat;
    }

    .usersReviews li.review {
		float: left;
		margin-bottom: 18px;
		margin-right: 20px;
		padding: 10px 0 10px 10px;
		max-width: 282px;
    }
    .usersReviews li.lastBlock {
    	margin-right: 0;
    }
    #reviews .review .user {
    	margin-bottom: 5px;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 5px;
    }
    li.review .user .ratting {
    	margin-top: 15px;
    } 
    #reviews a.reviewerPic {
		float: left;
		display: block;
		margin-right: 8px;
    }
    #reviews a.reviewerPic img {
    	border: 1px solid #c0c0c0;
		border-radius: 30px;
		height: 58px;
		width: 58px;
    }
    #reviews .user .names {
    	padding-top: 15px;
    	float: left;
    	margin-right: 10px;
    	max-width: 110px;
    }
    	.names a.name {
    		font-size: 16px;
			color: #222222;
    	}
    	.names a.positionComp {
	    	display: block;
    		font-size: 12px;
    		color: #666666;
    	}
    	ul.ratting {
    		margin-right: 5px;
    	}
    .review .userReviewComment {
		margin: 0 8px 8px 8px;
    }
    .review .userReviewComment h3 {
    	font-size: 14px;
		color: #444444;
    }
    .review .userReviewComment span {
    	color: #888888;
		font-size: 12px;
		float: none;
    }
    .userReviewComment span a{
        color: #dd4422;
		font-size: 11px;	
    }
    /*leftCol end*/
	#content .rightCol {
		max-width: 240px;
		float: left;
		margin-right: 20px;
	}

	.headMessage {
		margin: 20px 0;
	}
	.headMessage h2 {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: -1px;
        color: #dd4422;
        float: left;
        line-height: 35px;
    }
    .headMessage h2 i {
    	width: 40px;
        height: 35px;
        float: left;
        background: url('../images/sprite.png') 0 -120px no-repeat
    }
    .headMessage h5.newMsg {
        line-height: 38px;
        float: right;
        background: none;
        text-transform: uppercase;
    }
    .headMessage h5 em {
        margin-left: 5px;
        color: #FFF;
        padding: 4px 8px;
        border-radius: 11px;
        background: #dd4422;
    }
    .inbox h5.day {
    	text-transform: uppercase;
		padding: 2px 3px;
		background: #e5e5e5;
		border-radius: 2px;
		margin-bottom: 10px;
		display: inline-block;
		margin-left: 40px;
    }
    .inbox .date {
    	margin-left: -40px;
    	background: url('../images/msgSeprator.png') no-repeat;
    	background-position: bottom;
    	padding-bottom: 5px;
    }
    .inbox .date h5.day:hover {
    	cursor:default;
    }
    .inbox {
    	margin-bottom: 30px;
    }
    .inbox ul li {
    	margin-bottom: 12px;
    	padding-bottom:12px;
		border-bottom: 1px solid #ebebeb;
    }
    .inbox .userPicName {
    	height: 34px;
    	margin-bottom: 5px;
    }
    .inbox a.user {
        line-height: 34px;
        color: #222222;
        display: inline-block;
    }
    .inbox a.user:hover >img {
    	box-shadow: 0 0 5px #CCC;
    }
    .inbox a.user img.userPic {
        width: 34px;
        height: 34px;
        float: left;
        margin-right: 10px;
        border-radius: 17px;
    }
    .inbox .msg {
    	margin-bottom: 10px;
    }
    .inbox .msg a{
		font-size: 12px;
		color: #666666;
    }
    .inbox .msg a:hover {
    	color: #444;
    }
    .inbox .timeAgo {    	
		font-size: 11px;
		color: #aaaaaa;
		margin-bottom: 5px;	
    }
/*===========================================================*/
    /*footer css*/
    #footer {
        font-size: 12px;
        background: #353535;
        color: #888888;
        min-height: 120px;
    }
    #footer .footerWrapper {
        width: 960px;
        margin: 0 auto;
        text-align: center;
    }
    .footerWrapper ul.footerNav {
        line-height: 40px;
    }
    .footerWrapper ul.footerNav li {
        display: inline-block;
        margin-right: 7px;
    }
    .footerWrapper ul.footerNav li:after {
        content: "|";
    }
    .footerWrapper ul.footerNav li a {
        margin-right: 7px;
        color: #d9d9d9;
    }    
    .footerWrapper ul.footerNav li:last-child,
    .footerWrapper ul.footerNav li:last-child:after,
    .footerWrapper ul.footerNav li:last-child:after a{
        content: none;
        margin-right: 0;
    }
    .footerWrapper span {
        text-align: center;
    }
